<div class="container wrapping">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">New Cocktail</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
      <p> <%= render 'form' %> </p>
    </div>
  </div>
</div>
