<%= link_to "Home", root_path %>
<h3> <%= @cocktail.name %> </h3>

<h4> Ingredients : </h4>
<% @cocktail.ingredients.each do |ingredient| %>
  <p> <%= ingredient.name %> </p>
    <% ingredient.doses.each do |dose| %>
      <% if dose.cocktail_id == @cocktail.id %>
        <p><%= dose.description %></p>
        <p>---</p>
      <% end %>
    <% end %>
<% end %>

