.header {
  margin: 20px;
  height: 250px;
  color: white;

  h1 {
    padding: 30px;
  }
}

.fa-trash {
  color: red;
  position: absolute;
  right: 25px;
  bottom: 28px;
  font-size: x-large;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

a:hover {
  text-decoration: none;
}
