.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), image-url('cocktail.jpg');
  background-size: cover;
  margin: 20px;
  height: 250px;
  color: white;

  h1 {
    padding: 30px;
  }
}

#ingredient {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('logo.ico');
  background-size: cover;
}

.fa-trash {
  color: red;
  position: absolute;
  right: 25px;
  bottom: 28px;
  font-size: x-large;
}

a:hover {
  text-decoration: none;
}
