<div id="navbar">
  <%= link_to root_path, class: "link" do %>
    <%= image_tag "logo.ico", id: "logo" %>
  <% end %>

  <div class="link">
    <%= link_to "Create New Cocktail", new_cocktail_path, class: "text-right" %>
  </div>
</div>
