.card {
  margin: 20px;
  height: 250px;

  .top {
    background-size: cover;
    padding: 20px;
    height: 70%;
    color: white;
    h3 {
      margin-top: 5px;
    }
  }

  .bottom {
    background-color: white;
    padding: 20px;
    height: 30%;
    position : relative;
    p {
      padding: 5px;
    }
  }

  &:hover {
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.3);
  }

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }
}

#add {
  background-color: black;
  color: black;
  opacity : 0.8;
  &:hover {
    opacity: 1;
  }

  .fa-plus {
    font-size: 50px;
    margin-top: 5px;
    margin-left: 15px;
  }
}
